</head>
	<body>
<a href="#main-content" class="skip-link">Skip to main content</a>
<nav>
	<a href="/" class="logo" aria-label="fernan.dev home">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.25 22.63">
			<path d="M40,45.66l5.66,5.65,5.65-5.65L45.66,40A8,8,0,0,1,57,40l5.66-5.66a16,16,0,0,0-22.63,0l-5.66-5.65-5.65,5.65L34.34,40A8,8,0,0,1,23,40l-5.66,5.66A16,16,0,0,0,40,45.66Z" transform="translate(-17.37 -28.69)" />
		</svg>
	</a>
	<button class="toggle" aria-label="Menu" aria-expanded="false" aria-controls="nav-menu">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
			<polygon points="16 6 10 6 10 0 6 0 6 6 0 6 0 10 6 10 6 16 10 16 10 10 16 10 16 6"/>
		</svg>
	</button>
	<ul id="nav-menu">
		<li><a href="/">Brief</a></li>
		<li><a href="/tools/">Tools</a></li>
		<li><a href="/articles/">Articles</a></li>
		<li><a href="/resources/">Resources</a></li>
	</ul>
</nav>
<main id="main-content">
	<section>
		<article>